<div class='container m-3 p-2 ' >
  <h1><strong>My tasks</strong></h1>
  <br>
  <% @tasks.each do |task| %>
    <h2 class='card m-3 p-2' ><%= link_to task.title, task_path(task.id) %>
      <%=link_to "delete", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
        <i class="fas fa-trash-alt"></i>
    </h2>
  <% end %>



  <div>
  <%= link_to "+ Add a new task", new_path %>
  </div>
</div>
